<ion-header>
  <ion-toolbar>
    <ion-title>
      Grocery List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label>Milk</ion-label>
    <p>1</p>
  </ion-item>
  <ion-item>
    <ion-label>Eggs</ion-label>
    <p>1</p>
  </ion-item>
  <ion-item>
    <ion-label>Apples</ion-label>
    <p>5</p>
  </ion-item>
  <ion-item>
    <ion-label>Bread</ion-label>
    <p>1</p>
  </ion-item>
  <ion-item>
    <ion-label>Butter</ion-label>
    <p>1</p>
  </ion-item>
</ion-list>



</ion-content>

  
